*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*
    pseudoclases y seudoelementos
*/
/* .boton{
    background: red;
    color: #fff;
    font-size: 20px;
    display: block;
    margin: 20px auto;
    padding: 20px 0;
    width: 150px;
    text-align: center;
    text-decoration: none;
}
.boton:hover{
    background: #b98eca;
    border: 1px solid #ddd;
    color: black;
}
.boton:active{
    color: aqua;
}
#numero1:target{
    background: black;
    color: #fff;
}
#numero2:target{
    background: black;
    color: #fff;
}
#numero3:target{
    background: black;
    color: #fff;
}
p::selection{
    background: #b98eca;
    color: white;
} */
/* ------------------------------ */
/* ------------------------------ */
/* variables */
/* :root{
    --colorfondoprimario: black;
}
a{
    display: block;
    width: 350px;
    background-color: var(--colorfondoprimario);
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
    margin-top: 40px;
} */
.cuadrado{
    margin: 60px;
    width: 45%;
    height: 500px;
    background: blue;
}
@media (max-width: 800px){
    .cuadrado{
        background: red;
    }
}
/* REsponsive 
----------------------------------------------------------------- */
/* Escritorios muy grandes */
@media (min-width: 1200px){

}
/* Tablets en horizontal y escritorios normales */
@media (min-width: 768px) and (max-width: 1199px){
    
}
/* moviles en horizntal o tabletas en vertical */
@media (max-width: 767px){
    
}
/* moviles en vertical */
@media (max-width: 480px){
    
}