*{
    margin: 0px;
    padding: 0px;
}
.box{
    width: 600px;
    height: 500px;
    border: 1px solid #000;
    margin: 20px auto;
}
.item{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    background: #999;
    line-height: 80px;
}
.static{
    background: violet;
    position: static;
}
.relative{
    position: relative;
    background: red;
    top: ;
    left: 80px;
    bottom: 100px;
    right: ;
}
.absolute{
    position: absolute;
    background: green;
    top: ;
    left: 160px;
    bottom: 200px;
    right: ;
}
.fixed{
    position: fixed;
    background: rebeccapurple;
    top: ;
    left: 0;
    bottom: 0;
    right: ;

}